html {
 box-sizing: border-box;
}

*,*::before,*::after {
  box-sizing: inherit;
}

body {
    height: auto;
    width: auto;
    margin: auto;
}




table {
  width:1050px;
  height: 1050px;
  border-spacing: 0px;
  border-collapse: initial;
}

td {
  margin: 0;
}
