html {
 box-sizing: border-box;
}

*,*::before,*::after {
  box-sizing: inherit;
}

body {
    height: 1000px;
    width: 1000px;
}


#mover {
  position:absolute;
  width: 15px;
  height: 15px;
  display: block;
  background-color: black;
}

table{
  border: 1px solid black;
  width:1000px;
  height: 1000px;
}
tr {
  border: 1px solid black;
}

td {

  border: 1px solid black;
}
