body {
    width: auto;
    height: auto;
    color: #ffffff00;
    background: purple;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*background-image: url(src/maze-background.jpeg);*/
}

/*h1 {
    font: Impact;
    text-decoration: underline;
    text-decoration-color: gold;
    text-align: center;
    color: gold;
    font-size: 80px;
    -moz-text-decoration-color: gold;
}*/


table {

    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: auto;
    height: auto;
}

div#cover {
  position: none;
}

table {
  border-spacing: 0px;
  border-collapse: initial;
  position: absolute;

}



#mover {
    position: absolute;
    width: 15px;
    height: 15px;
    display: block;
    background-color: black;
}

button {
  background-color: orange;
  color: black;
  font-size: 25pt;
  border: 2px solid black;
  width:300px;
  height: 150px;
}
