html {
 box-sizing: border-box;
}

*,*::before,*::after {
  box-sizing: inherit;
}

body {
    height: 1000px;
    width: 1000px;
}

canvas {
  border: 1px solid orange;
}

#mover {
  position:relative;
  width: 15px;
  height: 15px;
  display: block;
  background-color: black;


}
