body {
    width: auto;
    height: auto;
    color: #ffffff00;
    background-image: url(src/boxes.gif);
    background: cover;
}

h1 {
    font: Impact;
    text-decoration: underline;
    text-decoration-color: gold;
    text-align: center;
    color: rgb(30, 224, 30);
    font-size: 80px;
    -moz-text-decoration-color: gold;
}

h2 {
    display: flex;
    font: ;
    flex-direction: row;
    font: Impact;
    text-align: center;
    color: white;
    font-size: 40px;
}

table {
    border: 10px solid white;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: auto;
    height: auto;
}

#mover {
    position: absolute;
    width: 15px;
    height: 15px;
    display: block;
    background-color: black;
}

tr {
    border: 1px solid black;
}

td {
    border: 1px solid black;
}